body {
    padding: 4px;
}

#accountContainer {
	overflow: hidden;
    -webkit-mask: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, rgba(0,0,0,1)), color-stop(0.95, rgba(0,0,0,1)), color-stop(0.98, rgba(0,0,0,0)));
}

#doneButton {
	float: right;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#dfdfdf));;
	border: 0px solid #a6a6a6;
	border-radius: 20px;
	margin-top: 3px;
	padding: 1px 7px 2px;
	-webkit-box-shadow: black 0px 0px 2px;
}

#doneButton:active {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a1a1a1), to(#cecece));
	border: 0px solid #555;
	-webkit-box-shadow: black 0px 0px 3px;
}

.container {
	margin: 0;
	padding: 1px 0px 2px 7px;
	color: #282828;
	font-weight: bold;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
	text-decoration: none;
	border-radius: 12px;
	cursor: default;
	border: none;
	background: none;
}

.account {
	margin: 3px 0;
	padding: 0;
	color: inherit;
	font-weight: inherit;
	text-shadow: inherit;
	text-decoration: inherit;
	display: inline-block;
	border-radius: inherit;
	cursor: inherit;
	border: inherit;
	background: transparent;
}

.cross {
	margin: 0 0 0 2px;
	padding: 0;
	text-indent: -1000px;
	display: inline-block;
	cursor: inherit;
	border: inherit;
	background: transparent;
    width: 14px;
    height: 14px;
}

.container:hover {
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	background: rgba(0, 0, 0, 0.21) url(safari-resource:/ExtensionClose.png) no-repeat 100% 50%;
}

.account:hover {
	color: inherit;
	text-shadow: inherit;
	background: transparent;
}

.cross:hover {
	background: transparent url(safari-resource:/ExtensionCloseHovered.png) no-repeat 100% 50%;
}

.container:active, .container.toggled {
	color: #fff;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.8);
}

.account:active, .account.toggled {
	color: inherit;
	text-shadow: inherit;
	background: transparent;
}

.cross:active, .cross.toggled {
	background: transparent url(safari-resource:/ExtensionCloseHovered.png) no-repeat 100% 50%;
}

.container.toggled, .container:active {
	background: rgba(0, 0, 0, 0.49);
}
